<%
    # locals
    #   html (String): html for the editor textarea, ex: '<div>Hello, world!</div>
    #   input_name (String): the editor form input, ex: 'post[content]'
    #   form_selector (String): the form's unique selector
    #   lang (String): en or fr
%>
<div class="editor-wrapper">
  <div class="easy-comment-editor easy-comment-editor-<%= lang %>">
    <div class="e-content-area e-content-area-<%= lang %>">
      <textarea name="<%= input_name %>" class="e-html-view e-html-view-<%= lang %>"><%= html %></textarea>
    </div>
  </div>
</div>

<script>
  function setHeight(klass){
    document.getElementsByClassName(klass)[0].style.height = document.getElementsByClassName(klass)[0].scrollHeight+'px';
  }
  setHeight("e-html-view-<%= lang%>");
</script>

<style>
.editor-wrapper {
  margin: 0;
  display: inline-block;
  font-family: 'Helvetica Neue', 'Helvetica', arial, sans-serif;
}

/* WYSIWYG Editor */
.easy-comment-editor {
  width: 40rem;
  min-height: 18rem;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin: 2rem 0;
  zoom: 150%;
  
  .e-content-area {
    padding: 15px 12px;
    line-height: 1.5;
    
    .e-html-view {
      outline: none;
      min-height: 12rem;
      width: 100%;
      border: none;
      resize: none;
      
      p {
        margin: 12px 0;
      } 
    }
    
    .e-html-view {
    }
  }
}
</style>
