<% if @post.errors.any? %>
  <div class="flashes">
    <% @post.errors.full_messages.each do |msg| %>
      <div class="flash flash_error"><%= msg %></div>
    <% end %>
  </div>
<% end %>

<%= semantic_form_for [:admin, @post], builder: ActiveAdmin::FormBuilder do |f| %>
  <%= f.inputs do %>
    <%= f.input :user %>
    <%= f.input :title, as: :string, label: "Title (EN)" %>
    <%= f.input :title_fr, as: :string, label: "Title (FR)" %>
    <%= f.input :meta_description, as: :text, label: "Meta Description (EN)", input_html: { style: "max-height: 100px;" }  %>
    <%= f.input :meta_description_fr, as: :text, label: "Meta Description (FR)", input_html: { style: "max-height: 100px;" } %>
    <%= f.input :status, include_blank: false %>

    <li class="string input">
      <%= f.label "content", "Content (EN)", class: "label" %>
    </li>

    <%= render :partial => 'admin/wysiwyg/editor',
      locals: {
        html: @post.content,
        input_name: "post[content]",
        form_selector: "form.formtastic.post",
        lang: "en",
      }
    %>

    <% if @post.content_fr.blank? %>
      <li class="input">
        <%= f.label :content_fr_duplicate, "Duplicate content to French?" %>
        <%= f.check_box :content_fr_duplicate %>
      </li>
    <% else %>
      <li class="string input">
        <%= f.label "content_fr", "Content (FR)", class: "label" %>
      </li>
      <%= render :partial => 'admin/wysiwyg/editor',
        locals: {
          html: @post.content_fr,
          input_name: "post[content_fr]",
          form_selector: "form.formtastic.post",
          lang: "fr",
        }
      %>
    <% end %>

    <li class="input">
      <%= f.label :images, "Images" %>
      <%= f.file_field :images %><br>
    </li>

    <%= f.input :tags %>
  <% end  %> 
  <%= f.actions do %>
    <li class="action input_action" id="post_submit_action">
      <% if controller.action_name == 'edit' %>
        <input type="submit" name="commit" value="Update Post" />
      <% else %>
        <input type="submit" name="commit" value="Create Post" />
      <% end %>
    </li>
  <% end %>
<% end %>

