<%# locals: post (Post) %>
<div class="post my-8">
  <div class="post-title text-4xl font-semibold">
    <% if controller.action_name == "index"  %>
      <%= link_to post_title(post), post_page_path(post), class: "hover-link" %>
    <% else %>
      <%= post_title(post) %>
    <% end %>
    <% if !post.published? %> <%# only admins can view the post %>
      (<%= post.status %>)
    <% end %>
  </div>

  <div class="post-content mt-5">
    <%= post_erb_content(post).html_safe %>
  </div>

  <section class="post-meta">
    <p class="post-author italic">By <%= post.user.display_name %></p>
    <p class="post-time italic">Written on <%= post.user.created_at.to_date %></p>
  </section>

  <% tags = post.tags.to_a %>
  <% if tags.size > 0 %>
    <div class="post-tags">
      <% tags.each do |tag| %>
        <% if params[:tag].present? %>
          <a class="post-tag btn-primary" href="<%= posts_page_path %>"><%= tag_name(tag) %></a>
        <% else %>
          <a class="post-tag btn-primary" href="<%= posts_page_path(:tag =>  tag.tag) %>"><%= tag_name(tag) %></a>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
