<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Luke's Blog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"
    />

    <script src="https://kit.fontawesome.com/f334992970.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container mx-auto">
    <nav id="main-nav" class="">
      <div id="nav-lang">
        <a id="nav-lang-item-first" class="<%= 'active' if I18n.locale == :en %>" href="<%= my_current_path(:locale => :en) %>">
          <span class="fi fi-gb">
          </span>
        </a>
        <a href="<%= my_current_path(:locale => :fr) %>" class="<%= 'active' if I18n.locale == :fr %>">
          <span class="fi fi-fr">
          </span>
        </a>
      </div>
    </nav>

    <main class="mt-10">
      <%= yield %>
    </main>

    <footer>
      <%# unless cookies[:subscribed] %>
        <div id="email-subscribe-container">
          <p id="email-subscribe-text">Receive an email when a new post has been made</p>
          <%= form_with(url: posts_subscribe_url) do |f| %>
            <%= f.email_field :subscribe_email, required: true, placeholder: "my@email.com" %>
            <%= f.submit "Subscribe", class: "btn-primary" %>
          <% end %>
        </div>
      <%# end %>
    </footer>

  </body>
</html>
